<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <!--开启自动驼峰命名规则,数据库带_字段名自动转换为驼峰命名，user_id -> userId -->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>
    <!--批量命名别名,默认命名为的别名为类名小写-->
    <typeAliases>
        <package name="com.xiao.example.model"/>
    </typeAliases>

</configuration>